@import url("https://fonts.googleapis.com/css2?family=Artifika&family=Tilt+Prism&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Artifika Static";
}

.main {
  height: 100vh;
  width: 100vw;
  background-color: #f8f8f8;
  position: relative;
  padding-top: 0.1px;
}

#nav-container {
  height: 10vh;
  width: 100%;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/* Logo Container */
.logo-container {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-container h3 {
  margin-bottom: 15px;
}

#nav-container h1 {
  font-weight: 900;
  font-size: 4vw;
  position: relative;
  font-family: "Artifika Static";
  -webkit-text-stroke: 2px rgb(10, 9, 9);
  color: transparent;
  text-transform: uppercase;
}

/* Symbol (Icon) on the Top Right */
.symbol {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 20px;
  color: black;
}

/* "Model Management" Below Premier */
.logo-container h3 {
  font-size: 14px;
  font-weight: 400;
  color: #555;
  margin-top: -5px;
}

#nav-container h2 {
  cursor: pointer;
  height: 100%;
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 20px;
  position: relative;
}
#nav-container h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #1c1b2c;
  transition: width 0.3s ease-in-out;
}
#nav-container h2:hover::after {
  width: 100%;
}
/* center container */

#home-container {
  width: 100%;
  height: 85vh;

  padding: 4vw;
  position: relative;
}
#video-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
}
#video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#overlay {
  position: absolute;
  height: 55%;
  width: 100%;
  padding: 2vw;
  bottom: 0;
  color: #fff;
}
#overlay-content1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5vw;
}
#overlay-content1 h1 {
  font-family: "Tilt Prism", cursive;
  font-size: 3vw;
  font-weight: 800;
}
#overlay-content1 h2 {
  font-size: 1.5vw;
  padding: 1vw 1vw;
  border-radius: 50%;

  border: 1px dotted #fff;
  border-bottom: 3px solid #fff;
}

#overlay-content2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5vw 0;

  border-top: 2px solid #fff;
}
#overlay-content2 h4 {
  font-weight: 800;
  font-size: 1.3vw;
}
#overlay-content2 img {
  height: 5vh;
}

/* scroll cconainer */
#scroll-container {
  width: fit-content;
  height: 40vh;

  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
#scroll-container img {
  width: 15%;
  height: 95%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: 0.8vw;
}
#img-container {
  padding: 2vw;
  display: inline-block;
  height: 100%;
  width: 100%;
  animation: scroll-animation 20s linear infinite;
}
@keyframes scroll-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* alphabet container */
#alphabet-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  height: 12vh;
  width: 100%;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-top: 1vh;
  padding: 1vw;
}
#alphabet-container h5 {
  font-size: 1.5vw;
  cursor: pointer;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 4px;
  border-bottom: 2px solid #000;
  text-transform: uppercase;
  margin-right: 2vw;
}
#alphabet-container h6 {
  font-size: 1vw;
  cursor: pointer;
  font-weight: 200;
  letter-spacing: 4px;
  font-style: italic;
  text-transform: uppercase;
  padding: 0.5vw 0.7vw;
  border-radius: 50%;
  transition: all 0.5s ease;
}
#alphabet-container h6:hover {
  border: 1px solid #000;
}

#page2-container {
  width: 100%;
  height: 100vh;
  padding: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
/* left container */
#left-container {
  width: 48%;
  height: 100%;
  display: flex;

  gap: 50px;
}
#image-container1 {
  width: 80%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bW9kZWxzfGVufDB8fDB8fHww);
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.4);
}
#text-content {
  display: flex;
  align-items: center;

  height: 100%;
}
#caption {
  font-weight: 800;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 0.2vw;
  font-size: 2.5vw;
  font-family: "Tilt Prism", cursive;
  text-transform: uppercase;
}
/* right container */
#right-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  width: 50%;
  height: 100%;

  padding: 2px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 50px;
  box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.4);
}
#box-1 {
  background-size: cover;

  background: url(https://images.unsplash.com/photo-1586425255399-5847fbd1665a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjB8fG1vZGVscyUyMHZvZ3VlfGVufDB8fDB8fHwwhttps://images.unsplash.com/photo-1586425255399-5847fbd1665a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjB8fG1vZGVscyUyMHZvZ3VlfGVufDB8fDB8fHww);
}
#box-2 {
  grid-column: 2;
  grid-row: span 2;
}
#box-2 p {
  padding: 40px;
  font-size: 1.5vw;
  line-height: 55px;
  letter-spacing: 0.3vw;
  color: #555;
  font-weight: 400;
}

#box-3 {
  background: url(https://images.unsplash.com/photo-1605636770228-d5e296092884?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzZ8fG1vZGVscyUyMHZvZ3VlfGVufDB8fDB8fHww);
}

/* page 3 */
#page3-container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 4vw;
  margin-bottom: 1vh;
}

#page3-container > h1 {
  font-family: "Artifika", serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 600;
  letter-spacing: 0.4vw;
  margin-bottom: 7vh;
}

.elem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  width: 100%;
  height: 20vh;

  border-top: 1px solid #4a4a4e;
}
.elem:nth-last-child(1) {
  border-bottom: 1px solid #4a4a4e;
}
.elem img {
  position: absolute;
  width: 10vw;
  height: 20vh;
  border-radius: 50px;
  top: 0;
  left: 15%;
  opacity: 0;
  transition: all ease 0.6s;
  object-position: top;
  object-fit: cover;
  padding: 1vh;
}
.elem:hover {
  background-color: #d8d5d5;
}
.elem:hover img {
  opacity: 1;
  left: 30%;
}
.elem h4 {
  font-weight: 400;
  font-size: 1.2vw;
}
.elem-contents {
  width: 40%;
}
.elem-contents h1 {
  font-weight: 400;
  letter-spacing: 0.3vw;
  margin-bottom: 1vh;
}
.elem-contents h5 {
  text-transform: uppercase;
  font-size: 0.7vw;
}

/* MARQUE CONTAINER */
#marque-container {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0.5vw;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
#marque-container h1 {
  display: inline-block;
  font-size: 3vw;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-text-stroke: 2px black;
  color: transparent;
  margin-right: 16px;
  letter-spacing: 4px;
  animation: marque-animation 4s linear infinite;
}
@keyframes marque-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 20px));
  }
}

#row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#footer-container {
  width: 100%;
  height: 100%;
  background-color: #0b0b0d;
  padding: 70px 0;
}
#footer-col {
  width: 25%;
  padding: 0 15px;
}
#footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
#footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
#footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
#footer-col ul li {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
#footer-col ul li:hover {
  color: #ffffff;
  padding-left: 8px;
}
#footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
#footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
